.sudokugrid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: black solid 9px !important;
  /*background-color: yellow;*/
  margin-top: 10px;
  height: 90vh;
  aspect-ratio: 1;
}

.numbersquare {
  box-sizing: border-box;
  width: 100%;
  border: black solid 1px;
  background-color: white;
}

.innerrightedge  {
  border-right: black solid 3px;
}

.innerbottomedge  {
  border-bottom: black solid 3px;
}

input {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
