body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  margin: 0;
  height: 100%;
}

.buttongrid {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 2px;
  height: 6vh;
  width: 100%;
}
